@import url('blocks/promo.css');
@import url('blocks/header.css');
@import url('blocks/button.css'); 
@import url('blocks/advantages.css');
@import url('blocks/title.css'); 
@import url('blocks/consultation.css'); 
@import url('blocks/forms.css');
@import url('blocks/catalog.css');
@import url('blocks/footer.css');
@import url('blocks/shopping-cart.css');

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.bg-nav {
    background-color: #c70101;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('MuseoSansCyrl-500'),
        url('../fonts/MuseoSansCyrl-500.woff2') format('woff2'),
        url('../fonts/MuseoSansCyrl-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('MuseoSansCyrl-300'),
        url('../fonts/MuseoSansCyrl-300.woff2') format('woff2'),
        url('../fonts/MuseoSansCyrl-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('MuseoSansCyrl-700'),
        url('../fonts/MuseoSansCyrl-700.woff2') format('woff2'),
        url('../fonts/MuseoSansCyrl-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


